* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

body {
    font-size: 1.4rem;
    width: 100%;
}
header {
    background-color: #010B2E;
    display: flex;
    width: 100%;
  }

  h1{margin-left: 20rem; margin-top: 2rem;}

  header nav {
    display: inline-flex;
    align-items: center;
    height: 12rem;
    width: 100%;
    justify-content: space-between;
  }
  .chapter_1 {
    height: auto;
  }

.chapter_1 .text_1 {
  width: 30%;
  margin-top: 50px;
}
  header nav ul {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 1rem 0rem 1rem 1rem;
    gap: 6rem;
    height: 7.6rem;
    margin-right: 7rem;
  }

  header a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: Roboto Slab;
    color: #FFFCFC;
  }

  header li {
    list-style: none;
  }

.chapter_1 {

    align-items: center;
    display: flex;
    justify-content: space-around;
  }

.image{font-size: 40px;}

button{
  background-color: #010B2E; 
  height: 30px; 
  color: white; 
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 7rem;

}


h2,h3{text-align: left; color: black; margin-right: 4rem;}


section{text-align: center; margin-top: 15rem; font-size: 40px;}

.lorem{font-size: 16px; margin-top: 2rem; color: black;}
.mapouter{margin: 02rem auto;}

@media (max-width: 768px) {
    header nav {
        display: block;
        text-align: center;
        height: auto;
        width: 100%;
        
    }
    header nav ul{justify-content: center;}

    h1{margin: 2rem 0rem;}
    
  

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(255, 255, 255);
        color: #33f;
    }
}
